# Maven Packaging Path
pokegame-frontend/target/
pokegame-backend/target/

# Eclipse settings
pokegame-frontend/.settings
pokegame-backend/.settings

pokegame-frontend/.classpath
pokegame-backend/.classpath

pokegame-frontend/.project
pokegame-backend/.project

# IntelliJ IDEA
.idea

# Visual Studio Code
*.factorypath

# Litiengine runtime files
pokegame-frontend/crash.txt
pokegame-frontend/game.log
pokegame-frontend/game.log.*

# Ignoring Nitrite database file
pokegame-backend/src/main/resources/nitrite.db
